[submodule "Study-Materials/2024-03-05-REACT-Components"]
	path = Study-Materials/2024-03-05-REACT-Components
	url = https://github.com/Inna-B10/2024-03-05-REACT-Components.git
[submodule "Study-Materials/2024-03-07-REACT-Rendering-of-lists"]
	path = Study-Materials/2024-03-07-REACT-Rendering-of-lists
	url = https://github.com/Inna-B10/2024-03-07-REACT-Rendering-of-lists.git
[submodule "Study-Materials/2024-03-11-REACT-Routing-and-event-handling"]
	path = Study-Materials/2024-03-11-REACT-Routing-and-event-handling
	url = https://github.com/Inna-B10/2024-03-11-REACT-Routing-and-event-handling.git
[submodule "Study-Materials/2024-03-14-REACT-Synchronizing-with-external-systems"]
	path = Study-Materials/2024-03-14-REACT-Synchronizing-with-external-systems
	url = https://github.com/Inna-B10/2024-03-14-REACT-Synchronizing-with-external-systems.git
[submodule "Study-Materials/2024-03-19-REACT-Advanced-state-management"]
	path = Study-Materials/2024-03-19-REACT-Advanced-state-management
	url = https://github.com/Inna-B10/2024-03-19-REACT-Advanced-state-management.git
[submodule "Study-Materials/2024-04-02-REACT-Automated-testing"]
	path = Study-Materials/2024-04-02-REACT-Automated-testing
	url = https://github.com/Inna-B10/2024-04-02-REACT-Automated-testing.git
[submodule "Study-Materials/2024-04-21-REACT-useState-hook"]
	path = Study-Materials/2024-04-21-REACT-useState-hook
	url = https://github.com/Inna-B10/2024-04-21-REACT-useState-hook.git
